@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {

  font-family: "Lekton";
  scroll-behavior: smooth;

}

a, button {
      transition: all 0.2s ease-in-out;
}

body {
  background-color: #161616;
  color: white;

}

p {
  line-height: 27px;
}

.lekton-regular {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: normal;
}

.lekton-bold {
  font-family: "Lekton", monospace;
  font-weight: 700;
  font-style: normal;
}

.lekton-regular-italic {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: italic;
}

.fade-slide-enter {
  opacity: 0;
  transform: translateY(100%);
 
}

.fade-slide-enter-active {
  opacity: 1;
  transform: translateY(50%);

  transition: opacity 500ms ease, transform 1500ms ease;
}

.fade-slide-exit {
  opacity: 1;
  transform: translateY(-50%);

}

.fade-slide-exit-active {
  opacity: 0;
  transform: translateY(-100%);

  transition: opacity 500ms ease, transform 1500ms ease;
}



section {
  scroll-margin-top: 156px;

}


::-webkit-scrollbar {
  
  width: 10px;
  background-color: #222222;;
}


::-webkit-scrollbar-thumb {
  background-color: #161616;
  border-radius: 10px;
}